 *{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}


.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
     display: flex;
     margin-right: 10px;
}


  
.navbar a {
    display: block;
    padding: 23px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.navbar a:hover {
     background: #3f3f3f;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 1000px !important;
    background: url(img/header.jpg) no-repeat center;
    background-size: cover;
}

.title{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;

}
p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;

}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #ff0082;
    color:#fff;
    text-decoration: none;
    background:  #ff0082;
}

.btn:hover {
    background: none;
}



.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.saw {
    padding: 30px;
    background: #1f1d1d;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.box-container .box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color:#fff;
    background: #ff0082;
    font-size: 2rem;
    margin: 1rem 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.box-container .box h3 {
    font-size: 20px;
    color: #ff0082;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #171717;
}
.price {
    background: url(img/header.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact {
    padding: 20px;
    background: #171717;
    padding-top: 0;
}

@media (max-width: 1000px){
    
    .title {
        margin-bottom: 0;
        font-size: 40px;

    }
    .saw{
        height: 120vh;

    }
    .novbar {
        display: none;
    }


}

.popup-class{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.rojo {
    color: red;
}

.box-contain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;}

.box-contain .box {
    height: 9rem;
    width: 15rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
    
    }



.box-container .box p {
    padding: 0 15px;
    font-size: 16px; 
}

.box-contain .box h3 {
    font-size: 20px;
    color: #ff0082;
}

.box-contain .box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color:#fff;
    background: #ff0082;
    font-size: 2rem;
    margin: 1rem 0;
}

.box a {
    color: #fff;
}


